.csf-theme-dark .csf-header-inner {
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
}
.csf-theme-dark .csf-footer {
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
}
.csf-theme-dark .csf-header-inner h1 {
    color: #000;

}
.csf-theme-dark .csf-search input {
    color: #000;
    background-color: #dfdfdf;
    border-radius: 1550px;
}
.csf-warning-primary {
    color: #fff!important;
    background-image: linear-gradient(147deg, #f71735 0%, #db3445 74%)!important;
    border-radius: 1555px !important;
}

.wp-core-ui .button-primary {
    background-image: linear-gradient(147deg, #1753f7 0%, #348ddb 74%)!important;
    border-radius: 1555px !important;
    color: #fff;
}
.wp-core-ui .button, .wp-core-ui .button-secondary {
    border-radius: 1555px !important;
}
.csf-field input[type=color],
.csf-field input[type=date],
.csf-field input[type=datetime-local],
.csf-field input[type=datetime],
.csf-field input[type=email],
.csf-field input[type=month],
.csf-field input[type=number],
.csf-field input[type=password],
.csf-field input[type=search],
.csf-field input[type=tel],
.csf-field input[type=text],
.csf-field input[type=time],
.csf-field input[type=url],
.csf-field input[type=week],
.csf-field select
 {
    border-radius: 1444px!important;
    border: 1px solid #c4c4c4!important;
    background-color: #fff!important;
    color: #2c3338!important;
}
.csf-nav-normal+.csf-content {
    margin-left: 0;
    border-radius: 20px !important;
}
.csf-theme-dark .csf-expand-all {
   display: none !important;
}

.csf-theme-dark .csf-nav-background {
    background-color: transparent!important;
}
.csf-nav ul li {
    margin-bottom: 3px;
}
.csf-theme-dark .csf-nav ul li a {
    color: #fff;
    border-color: #2f2f2f;
    background-color: #282828;
}
.csf-theme-dark .csf-nav>ul>li>a {
    border: none;
    border-radius: 20px;
}
.csf-theme-dark .csf-nav ul li .csf-active {
    background-image: linear-gradient(147deg, #1753f7 0%, #348ddb 74%)!important;
    border-radius: 20px!important;
    color: #fff;
}
.csf-theme-dark .csf-nav-normal ul li .csf-active:after {
    content: " ";
    position: absolute;
    left: 0px;
    right: unset;
    top: 50%;
    transform: rotate(180deg);
    height: 0;
    width: 0;
    pointer-events: none;
    border: solid transparent;
    border-right-color: #fff;
    border-width: 4px;
    margin-top: -4px;
}